
<div class="menu_section">
    <h3>家具</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-bug"></i>基础信息 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#furniture/config/warehouse">仓库配置</a></li>
                <li><a href="#furniture/config/production">产品配置</a></li>
                <li><a href="#furniture/config/basic">系统配置</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-bug"></i>运营商 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#furniture/agents/factory">经销商配置</a></li>
                <li><a href="#furniture/agents/agent">供应商配置</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-bug"></i>订单管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#furniture/orders/neworder">订单录入</a></li>
                <li><a href="#furniture/orders/orderlist">订单查询</a></li>
            </ul>
        </li>
    </ul>
</div>
<div  class="menu_section">
    <h3>游戏圈</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-bug"></i>赛事管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="e_commerce.html">数据采集</a></li>
                <li><a href="projects.html">赛程管理</a></li>
                <li><a href="project_detail.html">完场比赛</a></li>
                <li><a href="contacts.html">战队管理</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="menu_section">
    <h3>平台系统</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-home"></i> 账户管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#account/list">账户列表</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> 平台管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#platform/list">平台列表</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> 会员管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#user/list">会员列表</a></li>
            </ul>
        </li>
    </ul>
</div>

