<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="d">
                    <match url="api/.*" />
                    <action type="Rewrite" url="http://testapi.com:8200/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="src/index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
